WebContent/wsdl/EstoqueWSPort.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EstoqueWSService" targetNamespace="http://ws.estoque.caelum.com.br/">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.estoque.caelum.com.br/" version="1.0">

      <xs:element name="AutorizacaoFault" nillable="true" type="xs:string"/>

      <xs:element name="CadastrarItem" type="tns:CadastrarItem"/>

      <xs:element name="CadastrarItemResponse" type="tns:CadastrarItemResponse"/>

      <xs:element name="TodosOsItens" type="tns:TodosOsItens"/>

      <xs:element name="TodosOsItensResponse" type="tns:TodosOsItensResponse"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="TodosOsItens">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:filtros"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="filtro" type="tns:filtro"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element minOccurs="0" name="nome" type="xs:string"/>
          <xs:element minOccurs="0" name="tipo" type="tns:tipoItem"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TodosOsItensResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="itens" type="tns:listaItens"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:item"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string"/>
          <xs:element minOccurs="0" name="nome" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
          <xs:element minOccurs="0" name="tipo" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CadastrarItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="item" type="tns:item"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataValidade" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="token" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CadastrarItemResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="item" type="tns:item"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="TodosOsItens">
    <part element="tns:TodosOsItens" name="parameters"/>
  </message>
  <message name="TodosOsItensResponse">
    <part element="tns:TodosOsItensResponse" name="parameters"/>
  </message>
  <message name="CadastrarItem">
    <part element="tns:CadastrarItem" name="parameters"/>
    <part element="tns:tokenUsuario" name="tokenUsuario"/>
  </message>
  <message name="CadastrarItemResponse">
    <part element="tns:CadastrarItemResponse" name="result"/>
  </message>
  <message name="AutorizacaoFault">
    <part element="tns:AutorizacaoFault" name="fault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="TodosOsItens">
      <input message="tns:TodosOsItens" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosOsItensRequest"/>
      <output message="tns:TodosOsItensResponse" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosOsItensResponse"/>
    </operation>
    <operation name="CadastrarItem" parameterOrder="parameters tokenUsuario">
      <input message="tns:CadastrarItem" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemRequest"/>
      <output message="tns:CadastrarItemResponse" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemResponse"/>
      <fault message="tns:AutorizacaoFault" name="AutorizacaoFault" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItem/Fault/AutorizacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TodosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:CadastrarItem" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoFault">
        <soap:fault name="AutorizacaoFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port binding="tns:EstoqueWSPortBinding" name="EstoqueWSPort">
      <soap:address location="http://localhost:8080/estoquews-server/services/EstoqueWSPort"/>
    </port>
  </service>
</definitions>
